body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #000000;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #cecece 1px solid;
}
header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    text-align: center;
    padding: 10px 0;
    background-color: #535353;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
}
nav a:hover {
    background-color: #5a5a5a;
}
.container {
    width: 68%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    float: left; 
}
.news-item {
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    float: right;
    border: 1px solid #cecece; 
    border-radius: 10px; 
    margin-right: 2%;
}
